
:root{
    --mainfont:font-family:  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --primarycolor:#227675;
}


.primary-color{
    color:var(--primarycolor);
}
.back-ground{background-color: var(--primarycolor);}


.custom-btn {background-color: #82B440;
color: white;
0 20px
}
.custombtn-btn{background-color: var(--primarycolor);
   color: white;
   padding: 14px 25px;
border-radius: 30px;}

.navbar-nav li svg path{
    fill: white;
}
.
.navbar-nav .nav-link {font-size: 18px;
color: #FFFFFF;}

.navbar-nav .nav-link:hover{color: var(--primarycolor);}


.hero{
    background-image: url("./../img/puplic/hero\ photo.jpg");
    background-position: center;
      background-size: cover;
}
.hero h2{color: white;
font-size: 50px;}

.hero p{color: white;
font-size: 20px;}

.hero button{ color:white;
background-color: var(--primarycolor);
padding:  14px 30px;
border-radius: 30px;
position: relative;

}

.hero button::after {
content: "➜";
width: 15px;
height: 10px;
position: absolute;
right: 10px;
}


.about-images{
position: relative;

}
.main-img{width: 100%;
border-radius: 20px;}

.small-img{
 position: absolute;
 top:30%;
 right:-70px;
 border-radius: 20px;
 
}


.about-content button{color: white;
background-color: var(--primarycolor);
padding: 14px 25px;
border-radius: 30px;
position: relative;
}

.about-content button::after{
content: "➜";
width: 15px;
height: 10px;
position: absolute;
right: 5px;
}
 

.video-trigger svg,
.video-trigger .watch-text {
  cursor: pointer;
}


.Services-section{ background-color: #e4e2e2;
padding: 0px 10px ;}


.services-buttons button{
  background: var(--primarycolor);
  color: #fff;
padding: 20px 30px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.our-services p::after{
content: "➜";
width: 15px;
height: 10px;
position: absolute;
color: var(--primarycolor);
  cursor: pointer;
}

.arrow-circle{ width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:var(--primarycolor);
    display: flex; 
align-items: center; 
justify-content: center;}

.img-skills{ border-radius: 18px;
  box-shadow: 10px 30px rgba(0, 0, 0 ,0.08);
}

 .Appointment-buttun{ background-color: var(--primarycolor);
color: white;
padding: 14px 30px;
border-radius: 30px;}